@using AnagramSolver.Contracts.Models

@{
    ViewData["Title"] = "Anagrams";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var resultList = ViewData["ResultList"] as List<Word>;
    
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

<div class="content">
    <div>
        <h3>
                View all words here: @Html.ActionLink("View", "ViewAll", "Home", null, new {@class = "btn btn-primary"})
        </h3>
    </div>
    <div class="anagram-results">
        <h4>Anagrams of "@ViewData["UserWord"]":</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Word</th>
                    <th scope="col">Type</th>
                </tr>
                </thead>
                @for (int i = 0; i < resultList.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>@resultList[i].Content</td>
                        <td>@resultList[i].Type</td>
                    </tr>
                }
            </table>
    </div>

</div>
</body>
</html>